.box {
    background-color: darkseagreen;
    height: 100px;
    width: 100px;
    float: left;
    margin: 10px
}
.flex {
    height: 300px;
    background: #c6e0c6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box:hover{
    background: red;
    border-radius: 100%
}